body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(135deg, #ffe6ee, #fff);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
  width: 300px;
}

.main-img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 15px;
}

h1 {
  color: #ff6f9f;
  font-size: 20px;
}

.buttons {
  margin-top: 15px;
}

button {
  padding: 10px 18px;
  font-size: 15px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.yes {
  background: #7bd389;
  color: white;
  margin-right: 10px;
}

.no {
  background: #ff6b6b;
  color: white;
}
